

  
  footer.tours-eyg {
    background:$amarillo !important;
    
    padding: 75px 0;
    text-align: right;
  }
  section.round-tours  .logo-eyg {
    background:$amarillo !important;
    opacity: .6;
  }