
    section.round-tours  .logo {
        background:$rojo !important;
        opacity: .6;
      }
      

footer.tours {

  background: $rojo !important;
  padding: 75px 0;
  text-align: right;
}