
    section.round-tours  .logo {
        background-color:$rojo !important;
        opacity: .6;
      }
      

footer.tours {
  background-color: $rojo !important;
  padding: 75px 0;
  text-align: right;
}