nav.navbar{
    section.round-tours  .logo {
        background-color:$varde;
        opacity: .6;
      }
  footer.tours {
    background-color: $varde;
    padding: 75px 0;
    text-align: right;
  }
}